include README.md
include LICENCE
include sphinx_problog/_static/README.md
include sphinx_problog/_static/sphinx-problog.css
include sphinx_problog/_static/mode-problog.js
include sphinx_problog/_static/problog_editor_advanced.js
include sphinx_problog/_static/ace.js
include sphinx_problog/_static/jquery-fix.js
